#{extends 'CRUD/layout.html' /}

<div id="crudList" class="${type.name}">

	<h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

	<div id="crudListSearch">
		#{crud.search /}
	</div>

	<div id="crudListTable">
		#{crud.table fields:['id', 'date', 'city', 'description', 'temperature', 'safeToFly', 'note']}
      #{crud.custom 'date'}
        ${object.date.format()}
      #{/crud.custom}
      #{crud.custom 'city'}
        ${object.city.label}
      #{/crud.custom}
      #{crud.custom 'note'}
        ${object.note?.text}
      #{/crud.custom}
    #{/crud.table}
	</div>

	<div id="crudListPagination">
		#{crud.pagination /}
	</div>

	<p id="crudListAdd">
		<a href="@{blank()}">&{'crud.add', type.modelName}</a>
	</p>

</div>
