#{extends 'CRUD/layout.html' /}

<div id="crudBlank" class="${type.name}">
	
	<h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>
	
	<div class="objectForm">
    <div style="margin:20px;">
      <p>A Passenger is a child entity of Flight. Currently in Play there is no easy way to filter out
        values from a &lt;select&gt; field. Since it is never a good idea to load all entries from
        a given "table" into a &lt;select&gt; field, this page has been disabled.</p>
      <p><a href="..">Go back</a></p>
    </div>
	</div>

</div>